<% layout('layouts/boilerplate') %>
<div class="alert alert-danger col-6 offset-3" role="alert">
  <h4 class="alert-heading"><%= err.message %></h4>
  <% if(process.env.NODE_ENV == 'production') { %>
  <p style="word-wrap: break-word"><%= err.stack %></p>
  <% } %>
</div>
