<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Campground</title>
  </head>
  <body>
    <h1>Edit campground</h1>
    <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post">
      <label for="title">Campground Title</label>
      <input
        type="text"
        id="title"
        name="campground[title]"
        value="<%= campground.title %>"
        onchange=""
      />
      <label for="location">Location</label>
      <input
        type="text"
        id="location"
        name="campground[location]"
        value="<%= campground.location %>"
      />

      <button type="submit">Edit campground</button>
    </form>
  </body>
</html>
